.feed {
  margin: 5px 100px 5px 100px;
  padding: 30px;

  border-left: none;
  border-top: none;
  /* width: 1000px; */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.heading > p {
 font-size: x-large;
 font-weight: 500;
 font-family: cursive;
}
.title > p {
 font-size: x-large;
 font-weight: 700;
}
